.company-component_6-176 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 296px;
  height: 73px;
}
.ellipse-2_3-28 {
  top: 15px;
  left: 99px;
  position: absolute;
  display: flex;
  width: 40px;
  height: 38px;
}

.ellipse-4_3-29 {
  top: 15px;
  left: 241px;
  position: absolute;
  display: flex;
  width: 40px;
  height: 38px;
}

.ellipse-3_3-30 {
  top: 15px;
  left: 170px;
  position: absolute;
  display: flex;
  width: 40px;
  height: 38px;
}

.ellipse-9_3-36 {
  top: 15px;
  left: 28px;
  position: absolute;
  display: flex;
  width: 40px;
  height: 38px;
}