.table-budget {
    height: 80px;
    margin-left: 907px;
    width: 440px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: -390px;
}

td {
    height: 80px;
    width: 195px;
    border: 1px solid #ccc;
    padding: 8px 12px;
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

#budget-txt , #turn-txt {
    height: 80px;
    width: 195px;
    border: 1px solid #ccc;
    padding: 8px 12px;
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

#budget-number , #turn-number {
    font-size: 30px;
    height: 80px;
    width: 195px;
    border: 1px solid #ccc;
    padding: 8px 12px;
    background-color: #f2f2f2;
    font-weight: bolder;
    text-align: center;
}

/* TODO BTN ALLINEARE */

