<div class="tabella-container">


    <!--  <ul *ngFor="let employee of employees">
        <li>{{employee.role}}</li>
    </ul> -->





    <table>



        <tbody>
            <tr>
                <th></th>
                <th>Totali</th>
                <th>Staffing</th>
                <th>Disponibili</th>
            </tr>
            <tr>
                
                <th>MANAGER</th>
                <td class="Manager">
                    {{roleStats["Manager"].totali}}
                </td>
                <td class="Manager">
                    {{roleStats["Manager"].staffati}}
                </td>
                <td class="Manager">
                    {{roleStats["Manager"].disponibili}}
                    
                </td>
            </tr>
            <tr>
                <th>SENIOR</th>
                <td class="Senior">
                    {{roleStats["Senior"].totali}}
                </td>
                <td class="Senior">
                    {{roleStats["Senior"].staffati}}
                </td>
                <td class="Senior">
                    {{roleStats["Senior"].disponibili}}
                </td>
            </tr>
            <tr>
                <th>CONSULTANT</th>
                <td class="Consultant">
                    {{roleStats["Consultant"].totali}}
                </td>
                <td class="Consultant">
                    {{roleStats["Consultant"].staffati}}
                </td>
                <td class="Consultant">
                    {{roleStats["Consultant"].disponibili}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btns-submit">
        <input id="btn-manager" type="submit" value="Assumi Manager">
        <input id="btn-senior" type="submit" value="Assumi Senior">
        <input id="btn-consultant" type="submit" value="Assumi Consultant">
    </div>
</div>