

<div class="tabella-container">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>TOTALI</th>
                <th>IN STAFFING</th>
                <th>DISPONIBILI</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <th>MANAGER</th> //TODO distinguere i ruoli
                <td>
                    {{employee.total}}
                </td>
                <td>
                    {{employee.occupied}}
                </td>
                <td>
                    {{employee.available}}
                </td>
            </tr>
            <tr *ngFor="let employee of employees">
                <th>SENIOR</th>
                <td>
                    {{employee.total}}
                </td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th>CONSULTANT</th>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>