.tabella-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -600px;
  margin-right: 60px;

}

table {
  width: 30%;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px 12px;
}

thead th {
  background-color: #f2f2f2;
  font-weight: bolder;
}

tbody th {
  background-color: #f9f9f9;
  text-align: left;
}

/* TODO BTN ALLINEARE */

/*TODO CSS BOTTONI NUOVI  */

.assunzione-container {
  width: 90px;
}

.btn-manager {
  width: 65px;
  background-color:  rgb(113, 113, 115);
  border-color: black;
  height: 37px;
  margin-top: 35px;
}

.btn-senior {
  width: 65px;
  background-color:  rgb(113, 113, 115);
  height: 37px;
  margin-bottom: 30px;
  /* margin-left: -65px; */
  border-color: black;
}

.btn-consultant {
  width: 65px;
  background-color: rgb(113, 113, 115);
  height: 37px;
  margin-top: 105px;
  border-color: black;
  
}