.tabella-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 650px;
  /* Sostituisce margin-top: -900px */
  right: -10px;
  z-index: 10;
  /* Opzionale: per controllare la sovrapposizione */
}

table {
  width: 30%;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px 12px;
}

thead th {
  background-color: #f2f2f2;
  font-weight: bolder;
}

tbody th {
  background-color: #f9f9f9;
  text-align: center;
}

/* TODO BTN ALLINEARE */

/*TODO CSS BOTTONI NUOVI  */

.assunzione-container {
  width: 90px;
  margin-top: 40px;
}

.btn-manager {

  color: #666;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;

}

.btn-manager:hover {
  background-color: #666;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.btn-senior {
  color: #666;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;

}

.btn-senior:hover {
  background-color: #666;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-consultant {
  color: #666;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;

}

.btn-consultant:hover {
  background-color: #666;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}