 <div class="card" style="font-weight: bold;" *ngIf="visible && company">
        <div class="header" >
            <div class="status-indicator" ></div>
            <h2 class="company-name">{{company.name}}</h2>
        </div>
        
        <div class="info-section">
            <div class="info-item">
                <span class="info-label">
                    Stato: 
                </span>
                <span class="info-value">{{company.status}}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Manager:</span>
                <span class="info-value">{{company.Manager}}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Senior:</span>
                <span class="info-value">{{company.Senior}}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Consultant:</span>
                <span class="info-value">{{company.Consultant}}</span>
            </div>
            <div class="info-item">
                
                <span class="info-label">Turni:</span>
                <span class="info-value">{{company.collaborationTurns}}</span>
            </div>
            <div class="info-item">
                
                <span class="info-label">Valore progetto per turno:</span>
                <span class="info-value">{{company.expectedRevenue}}</span>
            </div>
        </div>
        <div class="btn-container">        
        <button class="collaborate-btn">COLLABORA</button>
        <button class="collaborate-btn" (click)="hide()">CHIUDI</button>
        </div>

    </div> 

<!-- TODO se collaboro, scritta diventa "turni rimanenti" -->

<!-- TODO turni che diminuiscono in info-value -->


