<div class="card" style="font-weight: bold;" *ngIf="visible && company">
    <div class="header">
        <div class="status-indicator"
            [ngClass]="{'status-indicator-available': company.status == 'Disponibile', 'status-indicator-unavailable': company.status == 'Non Disponibile', 'status-indicator-collab': company.status == 'In Collaborazione', 'status-indicator-endCollab': company.status == 'Fine collaborazione'}">
        </div>
        <h2 class="company-name">{{company.name}}</h2>
    </div>

    <div class="info-section">
        <div class="info-item">
            <span class="info-label">
                Stato:
            </span>
            <span class="info-value">{{company.status}}</span>
        </div>
        <div class="info-item">
            <span class="info-label">Manager:</span>
            <span class="info-value">{{company.manager}}</span>
        </div>
        <div class="info-item">
            <span class="info-label">Senior:</span>
            <span class="info-value">{{company.senior}}</span>
        </div>
        <div class="info-item">
            <span class="info-label">Consultant:</span>
            <span class="info-value">{{company.consultant}}</span>
        </div>
        <div class="info-item">

            <span class="info-label">Turni:</span>
            <span class="info-value">{{company.collaborationTurns}}</span>
        </div>
        <div class="info-item">

            <span class="info-label">Valore progetto per turno:</span>
            <span class="info-value">{{company.expectedRevenue}}</span>
        </div>
    </div>
    <div class="btn-container" *ngIf="company.status === 'In Collaborazione' || company.status === 'Fine collaborazione'; else btnVisibile">
        <button class="collaborate-btn" style="display: none;" (click)="startCollaboration(companyId!)">
            COLLABORA
        </button>
    </div>

    <ng-template #btnVisibile>
        <button class="collaborate-btn" (click)="startCollaboration(companyId!)">
            COLLABORA
        </button>
    </ng-template>

</div>

<!-- TODO se collaboro, scritta diventa "turni rimanenti" -->

<!-- TODO turni che diminuiscono in info-value -->