<div class="card" style="font-weight: bold;">
        <div class="header">
            <div class="status-indicator"></div>
            <h2 class="company-name">Azienda - Lombardia</h2>
        </div>
        
        <div class="info-section">
            <div class="info-item">
                <span class="info-label">
                    Stato: 
                </span>
                <span class="info-value">Disponibile</span>
            </div>
            <div class="info-item">
                <span class="info-label">Manager:</span>
                <span class="info-value">3</span>
            </div>
            <div class="info-item">
                <span class="info-label">Senior:</span>
                <span class="info-value">4</span>
            </div>
            <div class="info-item">
                <span class="info-label">Consultant:</span>
                <span class="info-value">1</span>
            </div>
            <div class="info-item">
                <!-- TODO turni che diminuiscono in info-value -->
                <span class="info-label">Turni:</span>
                <span class="info-value">8</span>
            </div>
            <div class="info-item">
                <!-- TODO se collaboro, scritta diventa "turni rimanenti" -->
                <span class="info-label">Valore progetto per turno:</span>
                <span class="info-value">10000€</span>
            </div>
        </div>
        <div class="btn-container">        
        <button class="collaborate-btn">COLLABORA</button>
        </div>

    </div>