.Map {
    padding-top: 5vw;
    margin-bottom: 300px;
}

path:hover {
  fill: rgb(178, 167, 167);
  transition: 0.4s;
}

.available {
  fill: rgb(52, 201, 52);

}

.unavailable {
  fill: red;
}

.inStaffing {
  fill: rgb(39, 39, 145);
}