.Map {
    padding-top: 5vw;
    margin-bottom: 300px;
    margin-left: 100px;
}

path:hover {
  fill: rgb(178, 167, 167);
  transition: 0.4s;
}

.Disponibile {
  fill: rgb(52, 201, 52);

}

.Non-Disponibile {
  fill: red;
}

.In-Collaborazione {
  fill: rgb(39, 39, 145);
}