Users:
<ul *ngFor="let user of users">
    <li>
        {{user.username}}
    </li>
</ul>
<div class="register-container">
    <h2>Registrazione Utente</h2>

    <form>
        <div class="form-group">
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" required />
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" name="email" type="email" required />
        </div>

        <button type="submit">Registrati</button>
        <button type="submit">Avvia partita</button>
    </form>
</div>