<div class="register-container" *ngIf="!isUserLoggedIn(); else loggedInTemplate">
    <h2>Registrazione Utente</h2>
    <form [formGroup]="userForm" (ngSubmit)="addUser()">
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" formControlName="email" type="email">
        </div>
        <button type="submit">Registrati</button>
    </form>
</div>

<ng-template #loggedInTemplate>
    <div class="register-container">
        <h2>Benvenuto a Risiko Lipari!</h2>
        <button id="start" (click)="createGame()">Avvia partita</button>
        <button id="logout" (click)="exitGame()">Logout</button>
    </div>
</ng-template>