<!--Users:
<ul *ngFor="let user of users">
    <li>
        {{user.username}}   //da togliere dopo
    </li>
</ul> -->
<div class="register-container" *ngIf="isUserLoggedIn()">
    <h2>Registrazione Utente</h2>

    <form [formGroup]="userForm" >
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" formControlName="email" name="email" type="email" required />
        </div>

        <button type="submit" (click)="addUser()">

            Registrati
        </button>
       
    </form>
</div>

<button type="submit" (click)="createGame()">Avvia partita</button>