
.register-container {
    width: 350px;
    margin: 50px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin-top: 200px;
}


.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}


.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

#start {
    margin-left: 30px;
}

#logout {
    margin-left: 75px;
}


.form-group input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.form-group input[type="email"]:focus {
    border-color: #007BFF;
    outline: none;
}


.register-container button {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-container button:first-of-type {
    background-color: #28a745;
    color: white;
}

.register-container button:first-of-type:hover {
    background-color: #218838;
}

.register-container button:last-of-type {
    background-color: #007BFF;
    color: white;
}

.register-container button:last-of-type:hover {
    background-color: #0056b3;
}
