<app-navbar></app-navbar>
<app-map #popup [gameId]="gameId"></app-map>
<app-employee (budgetChanged)="onBudgetChanged()"></app-employee>
<app-company></app-company>
<app-card-component [roleStats]="roleStats"></app-card-component>

<app-table-budget [updateBudget]="budgetUpdateTrigger" [updateTrigger]="turnUpdateTrigger"></app-table-budget>


<button class="add-turn" (click)="newTurn()">Nuovo turno</button>

<!-- <div class="turn">

    <ul *ngIf="createdTurn">
        <li>
            {{createdTurn.turns}}
        </li>
        <li>
            {{createdTurn.gameId}}
        </li>
    </ul>
</div> -->


<!-- Game:
<ul *ngFor="let game of games">
    <li>
        {{game.score}}
        {{game.status}}
        
     TODO TURNI GAME 
      TODO BTN TURNO SUCCESSIVO
    </li>
</ul> -->


<!-- <div *ngIf="currentUser">
    <h2>Ciao, {{currentUser.username}}</h2>
</div> -->



<!-- <input type="submit" value="Avvia partita" (click)="createGame()"> -->