<app-map></app-map>
<app-employee></app-employee>
<app-company></app-company>


<!-- 
    Turno successivo
</button>
<div class="turn" *ngIf="nextTurn()">

    <ul *ngFor="let game of games">
        <li>
            {{game.score}}
            {{game.status}}
        </li>
    </ul>
</div> -->


TURNI
<ul *ngFor="let turn of turns">
    <li>{{turn.turns}}</li>
    <li>{{turn.gameId}}</li>
</ul>

<button (click)="newTurn()">Nuovo turno</button>




<!-- Game:
<ul *ngFor="let game of games">
    <li>
        {{game.score}}
        {{game.status}}
        
     TODO TURNI GAME 
      TODO BTN TURNO SUCCESSIVO
    </li>
</ul> -->


<!-- <div *ngIf="currentUser">
    <h2>Ciao, {{currentUser.username}}</h2>
</div> -->



<!-- <input type="submit" value="Avvia partita" (click)="createGame()"> -->