<app-map></app-map>
<app-employee></app-employee>

<app-company></app-company>

<!-- <app-card-component></app-card-component> -->
<!-- 
    Turno successivo
</button>
 -->


<!-- TURNI
<ul *ngFor="let turn of turns">
    <li>{{turn.turns}}</li>
    <li>{{turn.gameId}}</li>
</ul> -->

<button class="add-turn" (click)="newTurn()">Nuovo turno</button>

<div class="turn">

    <ul *ngIf="createdTurn">
        <li>
            {{createdTurn.turns}}
        </li>
        <li>
            {{createdTurn.gameId}}
        </li>
    </ul>
</div>


<!-- Game:
<ul *ngFor="let game of games">
    <li>
        {{game.score}}
        {{game.status}}
        
     TODO TURNI GAME 
      TODO BTN TURNO SUCCESSIVO
    </li>
</ul> -->


<!-- <div *ngIf="currentUser">
    <h2>Ciao, {{currentUser.username}}</h2>
</div> -->



<!-- <input type="submit" value="Avvia partita" (click)="createGame()"> -->